<h2>Add Contact</h2>

<form action="">

  <div class="fields">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput type="tel" />
    </mat-form-field>
  </div>

  <div class="actions">
    <button mat-flat-button>Save</button>
    <button mat-raised-button routerLink="/">cancel</button>
  </div>

</form>
