<h2>Add Contact</h2>

<form (ngSubmit)="save()">
  <div class="fields">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [(ngModel)]="name" matInput type="text" name="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input [(ngModel)]="email" matInput type="email" name="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input [(ngModel)]="phone" matInput type="tel" name="phone" />
    </mat-form-field>
  </div>

  <div class="actions">
    <button type="submit" mat-flat-button>Save</button>
    <button type="button" mat-raised-button routerLink="/">cancel</button>
  </div>
</form>
